{{- if gt (len .SecuritySchemeProviderNames) 0 }}
const (
{{range $ProviderName := .SecuritySchemeProviderNames}}
    {{- $ProviderName | sanitizeGoIdentity | ucFirst}}Scopes = "{{$ProviderName}}.Scopes"
{{end}}
)
{{end}}
{{range $Enum := .EnumDefinitions}}
{{/* IMPORTANT: changed */}}
{{- if $Enum.Schema.Description }}
  {{ toGoComment $Enum.Schema.Description $Enum.TypeName  }}
{{- else }}
// Defines values for {{$Enum.TypeName}}.
{{- end }}
const (
{{range $name, $value := $Enum.GetValues}}
  {{$name}} {{$Enum.TypeName}} = {{$Enum.ValueWrapper}}{{$value}}{{$Enum.ValueWrapper -}}
{{end}}
)

{{/* IMPORTANT: new */}}
// All{{$Enum.TypeName}}Values returns all possible values for {{$Enum.TypeName}}.
func All{{$Enum.TypeName}}Values() []{{$Enum.TypeName}} {
	return []{{$Enum.TypeName}}{
  {{- range $name, $value := $Enum.GetValues}}
  {{$name}},
  {{- end}}
	}
}

{{end}}
