{{range .}}{{$opid := .OperationId}}
{{range .TypeDefinitions}}
// Ignoring parameter definition for {{.TypeName}}.
// {{.TypeName}} defines parameters for {{$opid}}.
type {{.TypeName}} {{if .IsAlias}}={{end}} {{.Schema.TypeDecl}}
{{end}}
{{end}}
