{{range .Types}}
{{ if and ((should_exclude_type .TypeName))  -}}
/* Ignoring existing struct (rest/models.go) {{.TypeName}} */
{{ else if and (or (is_rest_server_gen) (eq (gen_mode) "models")) (is_db_type .TypeName) -}}
/* Skipping definition of db struct {{.TypeName}} */
{{ else -}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description .TypeName  }}{{ else }}// {{.TypeName}} defines the model for {{.JsonName}}.{{ end }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}
{{ end }}
{{ end }}

