{{range .Types}}
{{ if and ((should_exclude_type .TypeName)) (exclude_rest_types) -}}
/* Ignoring existing struct (rest/models.go) {{.TypeName}} */
{{ else if and (is_rest_server_gen) (is_db_struct .TypeName) -}}
/* Skipping definition of db struct {{.TypeName}} */
{{ else -}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description .TypeName  }}{{ else }}// {{.TypeName}} defines the model for {{.JsonName}}.{{ end }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}
{{ end }}
{{ end }}

