**/.git

**/.venv
**/.vscode
**/.pytest_cache
**/.mypy_cache
**/__pycache__
**/.venv*
**/.mypy_cache
*.venv
*.mypy_cache
*.git
.env*
*.gz
*.tar
*.log

frontend/config.json

docker
docker-compose.*

**/node_modules
**/build
