# Add "complete -C project project" to your .bashrc
export GOBIN=$PWD/bin/tools
export PATH=$PWD/bin:$PATH
export PATH=$GOBIN:$PATH
export PATH=$PWD/frontend/node_modules/.bin:$PATH
source e2e/.venv/bin/activate 2>/dev/null || true

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  local oldpath="$PATH"
  mkdir -p "$alias_dir"
  if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
    PATH_add "$alias_dir"
  fi

  echo "#!/usr/bin/env bash" >"$target"
  echo "PATH=\"$oldpath\"" >>"$target"
  echo "$@" >>"$target"
  chmod +x "$target"
}

if typeset -f source_env >/dev/null; then # ignore when sourcing .envrc
  { [[ -f .envrc.local ]] && source_env .envrc.local; }
fi
