# Add "complete -C project project" to your .bashrc

# prepending
export GOBIN=$PWD/bin/tools
export PATH=$GOBIN:$PATH
export PATH=$GOBIN/bin:$PATH
export PATH=$PWD/bin:$PATH
export PATH=$PWD/bin/build:$PATH

alias_dir=$PWD/.direnv/aliases
export_alias() {
  local name=$1
  shift
  local target="$alias_dir/$name"
  local oldpath="$PATH"
  mkdir -p "$alias_dir"
  if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
    PATH_add "$alias_dir"
  fi

  echo "#!/usr/bin/env bash" >"$target"
  echo "PATH=\"$oldpath\"" >>"$target"
  echo "$@" >>"$target"
  chmod +x "$target"
}

if typeset -f source_env >/dev/null; then # ignore when sourcing .envrc
  { [[ -f .envrc.local ]] && source_env .envrc.local; }
fi
