.direnv
**/build
.envrc.local
__debug_bin
test-bash.sh
subshell_pipeline_errors_test.sh
openapi-go-gin-postgres-sqlc*
/bin/tools/*
openapi-generator-cli.jar
/post-generate-api
/postgen
/pregen
/gen-schema
/cli
/oapi-codegen
/jet
/.jet-gen
.openapi-generator
**/*.old
/.openapi.*.yaml
**/swagger-ui/**/*
/test.sql
tmp
/*.session.sql
/air-main
go.work*
*.log
*.cache
/pom.xml
**/testdata/**/got
/certificates/*.pem

whiteboard.excalidraw
heredoc-example
file-to-watch
.env
.env.prod
.env.production
.env.dev
.env.development

openapi-go.code-workspace
frontend/vite.config.ts.timestamp-*.mjs
test-spec.yaml
rest-server

openapi.test.gen.yaml
