__debug_bin

openapi-go-gin-postgres-sqlc*
/bin/tools/*
openapi-generator-cli.jar
/post-generate-api
/postgen
.openapi-generator
**/swagger-ui/**/*
tmp
/air-main
go.work*
*.log
*.cache
/pom.xml
**/testdata/**/got
/certificates/*.pem

whiteboard.excalidraw
heredoc-example
file-to-watch

.env
.env.prod
.env.production
.env.dev
.env.development
