.direnv
db/schema.sql
openapi.exploded.yaml
openapi.yaml.temp
.generate.cache*
__debug_bin*
**/*.so
**/build
.envrc.local
__debug_bin
test-bash.sh
/bin/tools/*
**/*.old
/.openapi.*.yaml
**/swagger-ui/**/*
/test.sql
tmp
/*.session.sql
go.work*
*.log
*.cache
**/testdata/**/got
/certificates/*.pem

/whiteboard.excalidraw
.env
.env*.prod
.env*.production
.env*.dev
.env*.development

openapi-go.code-workspace
frontend/vite.config.ts.timestamp-*.mjs
test-spec.yaml
/rest-server

/openapi.test.gen.yaml
