version: "3.8"
x-logging: &default-logging
  options:
    max-size: "10m"
    max-file: "2"
  driver: json-file

# Debug config with docker-compose --env-file <...> config
services:
  backend:
    image: ${PROJECT_PREFIX:?not set}-prod-backend:latest
    container_name: backend_${PROJECT_PREFIX}_prod
    networks:
      - traefik-net
    command: ./rest-server -env=.env.prod
    volumes:
      - ./.env.prod:/.env.prod
    build:
      context: .
      dockerfile: docker/Dockerfile.backend.prod
      args:
        - "DOCKER_UID=${DOCKER_UID:?not set}"
        - "DOCKER_GID=${DOCKER_GID:?not set}"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.${PROJECT_PREFIX}-prod-backend.rule=Host(`${DOMAIN:?not set}`) && PathPrefix("${API_PREFIX:?not set}")
      - traefik.http.routers.${PROJECT_PREFIX}-prod-backend.middlewares=${PROJECT_PREFIX}-stripprefix-backend,${PROJECT_PREFIX}-compress # check docs to exclude requests from compression
      - traefik.http.middlewares.${PROJECT_PREFIX}-compress.compress=true
      - traefik.http.middlewares.${PROJECT_PREFIX}-stripprefix-backend.stripprefix.prefixes=${API_PREFIX:?not set}
      - traefik.docker.network=traefik-net
      - traefik.http.routers.${PROJECT_PREFIX}-prod-backend.entrypoints=websecure
      - traefik.http.routers.${PROJECT_PREFIX}-prod-backend.tls=true
      - traefik.http.services.${PROJECT_PREFIX}-prod-backend.loadbalancer.server.port=${API_PORT:?not set}
    logging: *default-logging

  frontend:
    image: ${PROJECT_PREFIX:?not set}-prod-frontend:latest
    container_name: frontend_${PROJECT_PREFIX}_prod
    networks:
      - traefik-net
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend.prod
    env_file: .env.prod
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.${PROJECT_PREFIX}-prod-frontend.rule=Host(`${DOMAIN:?not set}`)
      - traefik.docker.network=traefik-net
      - traefik.http.routers.${PROJECT_PREFIX}-prod-frontend.middlewares=${PROJECT_PREFIX}-compress
      - traefik.http.middlewares.${PROJECT_PREFIX}-compress.compress=true
      - traefik.http.routers.${PROJECT_PREFIX}-prod-frontend.entrypoints=websecure
      - traefik.http.routers.${PROJECT_PREFIX}-prod-frontend.tls=true
      - traefik.http.services.${PROJECT_PREFIX}-prod-frontend.loadbalancer.server.port=${FRONTEND_PORT:?not set}
    logging: *default-logging

networks:
  traefik-net:
    name: traefik-net
    external: true
