{
  "folders": [
    {
      "path": "."
    }
  ],
  "settings": {
    "plpgsqlLanguageServer.database": "postgres",
    "plpgsqlLanguageServer.user": "postgres",
    "plpgsqlLanguageServer.password": "postgres",
    "plpgsqlLanguageServer.host": "localhost",
    "plpgsqlLanguageServer.port": 5656,
    "plpgsqlLanguageServer.defaultSchema": "public",
    "plpgsqlLanguageServer.definitionFiles": [
      "**/*.psql",
      "**/*.pgsql"
    ],
    "plpgsqlLanguageServer.enableExecuteFileQueryCommand": false,
    // "plpgsqlLanguageServer.queryParameterPattern": "@[A-Za-z_][A-Za-z0-9_]*",
    "plpgsqlLanguageServer.keywordQueryParameterPattern": "@{keyword}",
    "files.associations": {
      "*.sql": "postgres"
    },
  }
}
