{
  "folders": [
    {
      "path": "."
    }
  ],
  "settings": {
    "yaml.schemas": {
      "https://raw.githubusercontent.com/docker/cli/master/cli/compose/schema/data/config_schema_v3.8.json": "*compose*.yml",
    },
    "yaml.customTags": [
      "!merge",
      "!!merge",
    ],
    "plpgsqlLanguageServer.database": "gen_db",
    "plpgsqlLanguageServer.user": "postgres",
    "plpgsqlLanguageServer.password": "postgres",
    "plpgsqlLanguageServer.host": "localhost",
    "plpgsqlLanguageServer.port": 5656,
    "plpgsqlLanguageServer.defaultSchema": "public",
    "plpgsqlLanguageServer.definitionFiles": [
      "**/*.psql",
      "**/*.pgsql"
    ],
    "plpgsqlLanguageServer.enableExecuteFileQueryCommand": false,
    // "plpgsqlLanguageServer.queryParameterPattern": "@[A-Za-z_][A-Za-z0-9_]*",
    "plpgsqlLanguageServer.keywordQueryParameterPattern": "@{keyword}",
    "files.associations": {
      "*.sql": "postgres"
    },
  }
}
