/* footer: {
  borderTop: `1px solid ${theme.colorScheme === 'dark' ? theme.colors.dark[5] : theme.colors.gray[2]}`,
  backgroundColor: theme.colorScheme === 'dark' ? theme.colors.dark[8] : theme.white,
  position: 'fixed',
  bottom: 0,
  left: 0,
  width: '100%',
  zIndex: 999,
},

inner: {
  display: 'flex',
  justifyContent: 'space-between',
  alignItems: 'center',
  minWidth: '95vw',
  minHeight: FOOTER_HEIGHT,

  [theme.fn.smallerThan('xs')]: {
    flexDirection: 'column',
  },
},

links: {
  [theme.fn.smallerThan('xs')]: {
    marginTop: theme.spacing.md,
  },
}, */

:root {
  --footer-height: 55px;
}

.footer {
  border-top: 1px solid var(--mantine-shadow-sm);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 95vw;
  min-height: var(--footer-height);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: var(--mantine-breakpoint-sm)) {
    margin-top: var(--mantine-spacing-md);
  }
}
