{{>partial_header}}
package models
{{#models}}{{#imports}}
{{#-first}}import (
{{/-first}}	"{{import}}"{{#-last}}
)
{{/-last}}{{/imports}}{{#model}}{{#isEnum}}{{#description}}// {{{classname}}} : {{{description}}}{{/description}}
type {{{classname}}} {{^format}}{{dataType}}{{/format}}{{{format}}}

// List of {{{classname}}}.
const (
	{{#allowableValues}}
	{{#enumVars}}
	{{#enumClassPrefix}}{{{classname.toUpperCase}}}_{{/enumClassPrefix}}{{name}} {{{classname}}} = {{{value}}}
	{{/enumVars}}
	{{/allowableValues}}
){{/isEnum}}{{^isEnum}}{{#description}}
// {{classname}} {{#lambda.lowercase}}{{{description}}}{{/lambda.lowercase}}.{{/description}}
type {{classname}} struct { {{#vars}}{{#description}}
	// {{{.}}}.{{/description}}
	{{#deprecated}}
	// Deprecated.
	{{/deprecated}}
  {{#vendorExtensions.x-custom-comment}}
  // {{{.}}}
  {{/vendorExtensions.x-custom-comment}}
  {{name}} {{#isNullable}}*{{/isNullable}}{{{dataType}}} `json:"{{baseName}}{{^required}},omitempty{{/required}}"{{#vendorExtensions.x-go-custom-tag}} {{{.}}}{{/vendorExtensions.x-go-custom-tag}}`{{/vars}}
}

{{/isEnum}}{{/model}}{{/models}}
