{{>partial_header}}
package gen

import (
	"net/http"

	"github.com/gin-gonic/gin"

)

// Route is the information for every URI.
type Route struct {
	// Name is the route name.
	Name        string
	// Method is the string for the HTTP method.
	Method      string
	// Pattern is URI pattern.
	Pattern     string
	// HandlerFunc is the handler function for this route.
	HandlerFunc gin.HandlerFunc
}

// Routes is the list of the generated Route.
type Routes []Route

// RegisterRoute registers route in the given router.
func RegisterRoute(r *gin.Engine, route Route) {
  switch route.Method {
		case http.MethodGet:
			r.GET(route.Pattern, route.HandlerFunc)
		case http.MethodPost:
			r.POST(route.Pattern, route.HandlerFunc)
		case http.MethodPut:
			r.PUT(route.Pattern, route.HandlerFunc)
		case http.MethodPatch:
			r.PATCH(route.Pattern, route.HandlerFunc)
		case http.MethodDelete:
			r.DELETE(route.Pattern, route.HandlerFunc)
	}
}
