version: "3.8"
x-logging: &default-logging
  options:
    max-size: "10m"
    max-file: "2"
  driver: json-file

services:
  oidcserver:
    image: simple-oidc-server:latest
    container_name: simple-oidc-server
    build:
      context: ../external/oidc-server
      dockerfile: Dockerfile
    networks:
      - traefik-net
    ports:
      - ${OIDC_SERVER_PORT:?not set}:10001
    command: ./server
    env_file:
      - ../.env.${APP_ENV:?not set}
    labels:
      - traefik.enable=true
      - traefik.http.routers.simple-oidc-server.rule=Host(`${OIDC_DOMAIN:?not set}`) && PathPrefix("/oidc")
      - traefik.http.routers.simple-oidc-server.middlewares=strip_prefix_oidc # check docs to exclude requests from compression
      - traefik.http.middlewares.strip_prefix_oidc.stripprefix.prefixes=/oidc
      - traefik.docker.network=traefik-net
      - traefik.http.routers.simple-oidc-server.entrypoints=websecure
      - traefik.http.routers.simple-oidc-server.tls=true
      - traefik.http.services.simple-oidc-server.loadbalancer.server.port=${OIDC_SERVER_PORT:?not set}
    restart: unless-stopped
    logging: *default-logging
    healthcheck:
      test: ["CMD-SHELL", "wget -O/dev/null -q http://localhost:10001/health || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 3


networks:
  traefik-net:
    name: traefik-net
    external: true
