version: "3.8"
x-logging: &default-logging
  options:
    max-size: "10m"
    max-file: "2"
  driver: json-file

# Debug config with docker-compose --env-file <...> config
services:
  db:
    #  sqlc depends on https://github.com/pganalyze/libpg_query (pg 13 support only)
    image: postgres:13-alpine
    container_name: postgres_db_${PROJECT_PREFIX:?not set}
    user: postgres
    shm_size: 2g
    networks:
      - traefik-net
    environment:
      PGDATA: /var/lib/postgresql/data
    volumes:
      - openapi_pg_data:/var/lib/postgresql/data/
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - ../.psqlrc:/var/lib/postgresql/.psqlrc
    command: postgres -c "config_file=/etc/postgresql/postgresql.conf"
    ports:
      - ${DB_PORT:?not set}:5432
    env_file:
      - ../.env.${APP_ENV:?not set}
    restart: unless-stopped
    logging: *default-logging

  redis:
    image: redis:6-alpine
    container_name: redis_${PROJECT_PREFIX:?not set}
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - openapi_redis_data:/data/
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - 6379:6379
    networks:
      - traefik-net
    restart: always
    logging: *default-logging

networks:
  traefik-net:
    name: traefik-net
    external: true

volumes:
  openapi_pg_data:
  # in order not to have project prefix we would use
  # name: openapi_pg_data
  openapi_redis_data:
