version: "3.8"
x-logging: &default-logging
  options:
    max-size: "10m"
    max-file: "2"
  driver: json-file

services:
  oidcserver:
    image: simple-oidc-server:latest
    container_name: simple-oidc-server
    build:
      context: ../.
      dockerfile: Dockerfile.oidc-server
    networks:
      - traefik-net
    ports:
      - ${MOCK_OIDC_SERVER_PORT:?not set}:10001
    command: ./oidc-server --path-prefix="/oidc"
    volumes:
      - ../cmd/oidc-server/data/:${MOCK_OIDC_SERVER_DATA_DIR:?not set}/:ro
      - /etc/ssl/certs:/etc/ssl/certs:ro
    environment:
      DATA_DIR: ${MOCK_OIDC_SERVER_DATA_DIR:?not set}
      ISSUER: ${OIDC_ISSUER:?not set}
    labels:
      - traefik.enable=true
      - traefik.http.routers.simple-oidc-server.rule=Host(`${OIDC_DOMAIN:?not set}`) && PathPrefix("/oidc")
      - traefik.http.routers.simple-oidc-server.middlewares=strip_prefix_oidc # check docs to exclude requests from compression
      - traefik.http.middlewares.strip_prefix_oidc.stripprefix.prefixes=/oidc
      - traefik.docker.network=traefik-net
      - traefik.http.routers.simple-oidc-server.entrypoints=websecure
      - traefik.http.routers.simple-oidc-server.tls=true
      - traefik.http.services.simple-oidc-server.loadbalancer.server.port=${MOCK_OIDC_SERVER_PORT:?not set}
    restart: unless-stopped
    logging: *default-logging
    healthcheck:
      test: ["CMD-SHELL", "wget -O/dev/null -q http://localhost:10001/health || exit 1"]
      interval: 5s
      timeout: 30s
      retries: 5


networks:
  traefik-net:
    name: traefik-net
    external: true
