global:
  scrape_interval: 40s # Default is every 1 minute.

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "openapi-go"
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    # TODO in the future use otlp collector (collector-config)
    # static_configs:
    #   - targets: ["collector:9464"]
    scheme: https
    tls_config:
      ca_file: /mkcert-rootCA.pem
    static_configs:
      # access localhost from container
      - targets: ["host.docker.internal:8090"]
