import (
    "context"
    "time"

    "go.opentelemetry.io/otel"
    "go.opentelemetry.io/otel/attribute"
    "go.opentelemetry.io/otel/trace"
)

{{ $decorator := (or .Vars.DecoratorName (printf "%sWrapped" .Interface.Name)) }}

// {{$decorator}} implements {{.Interface.Type}} interface instrumented with opentracing spans and timeout.
type {{$decorator}} struct {
  {{.Interface.Type}}
  _otelName string
  _spanDecorator func(span trace.Span, params, results map[string]interface{})
  config {{$decorator}}Config
}

type {{$decorator}}Config struct {
  {{range $method := .Interface.Methods}}
    {{if $method.AcceptsContext}}{{$method.Name}}Timeout time.Duration{{ end }}
  {{end}}
}

// New{{$decorator}} returns a decorated {{.Interface.Name}} with tracing and timeout options.
func New{{$decorator}} (base {{.Interface.Type}}, otelName string, config {{$decorator}}Config, spanDecorator ...func(span trace.Span, params, results map[string]interface{})) {{$decorator}} {
  d := {{$decorator}} {
    {{.Interface.Name}}: base,
    _otelName: otelName,
    config: config,
  }

  if len(spanDecorator) > 0 && spanDecorator[0] != nil {
    d._spanDecorator = spanDecorator[0]
  }

  return d
}

{{range $method := .Interface.Methods}}
  {{if $method.AcceptsContext}}
    // {{$method.Name}} implements {{$.Interface.Type}}.
func (_d {{$decorator}}) {{$method.Declaration}} {
  // -- tracing
  ctx, _span := otel.Tracer(_d._otelName).Start(ctx, "{{$.Interface.Type}}.{{$method.Name}}")
  defer func() {
    if _d._spanDecorator != nil {
      _d._spanDecorator(_span, {{$method.ParamsMap}}, {{$method.ResultsMap}})
    }{{- if $method.ReturnsError}} else if err != nil {
      _span.RecordError(err)
      _span.SetAttributes(
        attribute.String("event", "error"),
        attribute.String("message", err.Error()),
      )
    }
    {{end}}
    _span.End()
  }()

  // -- timeout
  var cancelFunc func()
  if _d.config.{{$method.Name}}Timeout > 0 {
    ctx, cancelFunc = context.WithTimeout(ctx, _d.config.{{$method.Name}}Timeout)
    defer cancelFunc()
  }

  {{$method.Pass (printf "_d.%s." $.Interface.Name) }}
}
  {{end}}
{{end}}
