// GinServerOptions provides options for the Gin server.
type GinServerOptions struct {
    BaseURL string
}

// RegisterHandlers creates http.Handler with routing matching OpenAPI spec.
func RegisterHandlers(router *gin.RouterGroup, si ServerInterface) *gin.RouterGroup {
  return RegisterHandlersWithOptions(router, si, GinServerOptions{})
}

// RegisterHandlersWithOptions creates http.Handler with additional options
func RegisterHandlersWithOptions(router *gin.RouterGroup, si ServerInterface, options GinServerOptions) *gin.RouterGroup {
{{if .}}wrapper := ServerInterfaceWrapper{
Handler: si,
}
{{end}}
// calling mw(c) directly has unexpected consequences: closed channels, etc.
{{- range .}}
router.{{.Method }}(options.BaseURL+"{{.Path | swaggerUriToGinUri }}", append(
		wrapper.Handler.authMiddlewares({{.OperationId}}),
		append(wrapper.Handler.middlewares({{.OperationId}}), wrapper.{{.OperationId}})...
	)...)
{{end}}
return router
}
