* {
  font-family: 'Exo 2', sans-serif !important;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: black; /** no flashes, thank you very much. will remove at first render */
}
