* {
  font-family: 'Exo 2', sans-serif !important;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/** no flashes when theme is dark in LS */
body {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

/* TODO: hide if empty input */
.label-focused {
  transform: translateY(rem(-25px));
  font-size: calc(0.65rem * var(--mantine-scale));
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-5));
}

.input-focused {
  border-bottom-color: var(--mantine-color-blue-5);
  border-width: 1px;
}

.mrt-table thead tr th {
  border-bottom: 1px solid light-dark(var(--mantine-primary-color-5), var(--mantine-primary-color-5));
  padding-bottom: rem(10px);
  border-width: rem(2px) !important;
}

.mrt-table tbody tr:nth-of-type(odd) {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-8));
}

.mrt-table {
  .mrt-filter-text-input:focus-within {
    border-bottom: 1px solid light-dark(var(--mantine-primary-color-5), var(--mantine-primary-color-5));
    border-width: rem(2px) !important;
  }
}
