.valueComponentOuterBox {
  display: flex;
  cursor: default;
  align-items: center;
  padding: 2px;
  padding-left: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
}

.valueComponentInnerBox {
  line-height: 1;
}

.childCard {
  background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
}

.arrayChildCard {
  width: 100%;
  background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
}

.removeButton {
  background-color: light-dark(#7c1a1a, #b03434);
  color: white;
  :hover {
    background-color: gray;
  }
}

.select {
}

.pill {
  display: flex;
  align-items: center;
  cursor: default;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border: rem(1px) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-7));
  padding-left: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-xl);
}

.label {
  line-height: 1;
  font-size: var(--mantine-font-size-xs);
}
