.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: rem(2px);
  border-radius: 0;
  padding-left: 0;
  background-color: var(--mantine-color-body);
  margin-top: rem(-20px);
  /* font-weight: 500; */
}

.label {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: rem(30px);
  color: var(--mantine-color-placeholder);
  font-size: var(--mantine-font-size-xs);
  transition: color 100ms ease, transform 100ms ease, font-size 100ms ease;
}

.filterMode {
  color: var(--mantine-color-placeholder);
  font-weight: 500;
  font-size: var(--mantine-font-size-xs);
  margin-bottom: 0;
}

.checkboxLabel {
  font-weight: 600;
}

.checkBox {
  align-items: flex-end;
}

.root {
  margin-bottom: -4px;
}
