name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 0 */3 * *'

jobs:
  run:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: ./.github/actions/setup
      # source .envrc instead of direnv setup
      - name: Setup project
        run: |
          source .envrc

          # go mod download # it will access network/cache, which is not necessary with -mod=vendor
          go mod verify

          cd frontend
          pnpm i --frozen-lockfile
          cd -

          cd e2e
          pnpm i --frozen-lockfile
          cd -

          project test.backend.setup --x-env=ci

          project lint --x-env=ci

      - name: Diff check
        run: |
          # debug gen: run with --x-force-regen
          git diff --exit-code # -- . ':!dir_to_skip'

      - name: Test backend
        run: |
          source .envrc

          for i in {1..10}; do
              project test.backend -race -count=40 --x-env=ci
          done

          echo "Testing files with !race directive"
          project test.backend -count=40 --x-env=ci

      - name: Test frontend
        run: |
          source .envrc

          project test.frontend --x-env=ci

      # TODO: reuse actions/setup:
      # https://stackoverflow.com/questions/65242830/in-a-github-actions-workflow-is-there-a-way-to-have-multiple-jobs-reuse-the-sam
      # https://github.com/kmadof/github-actions-manual/blob/main/.github/actions/say-hello/action.yml
