name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 0 */3 * *'

jobs:
  run:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: ./.github/actions/setup
      # source .envrc instead of direnv setup
      - name: Setup project
        run: |
          source .envrc

          # go mod download # it will access network/cache, which is not necessary with -mod=vendor
          go mod verify

          project test.backend.setup --x-env=ci

          project lint --x-env=ci

      - name: Diff check
        run: |
          # debug gen: run with --x-force-regen
          git diff --exit-code # -- . ':!dir_to_skip'

      - name: Test backend
        run: |
          source .envrc

          POSTGRES_TRACE=true project test.create-crud-gen --x-env=ci

          for i in {1..2}; do
              project test.backend -v -race -count=10 -timeout 20m --x-env=ci
          done

      - name: Postgres logs
        if: always() # run even on previous step failure
        run: docker logs postgres_db_openapi-go-gin

      - name: Test frontend
        run: |
          source .envrc

          project test.frontend --x-env=ci

      - name: Test E2E
        run: |
          source .envrc

          project e2e.run --x-env=ci

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: e2e/playwright-report/
          retention-days: 5
      # TODO: reuse actions/setup:
      # https://stackoverflow.com/questions/65242830/in-a-github-actions-workflow-is-there-a-way-to-have-multiple-jobs-reuse-the-sam
      # https://github.com/kmadof/github-actions-manual/blob/main/.github/actions/say-hello/action.yml

