name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 0 */3 * *'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: ./.github/actions/setup
      # source .envrc instead of direnv setup
      - name: Setup project
        run: |
          source .envrc

          # go mod download # use vendor
          go mod verify

          cd frontend && pnpm i && cd -

          project test.backend-setup --x-env=ci

          project lint --x-env=ci

      - name: Diff check
        run: |
          git diff --exit-code # -- . ':!dir_to_skip'

      - name: Test backend
        run: |
          source .envrc

          project test -race -count=40 --x-env=ci
