.beacon {
  animation: beacon-animation 2s forwards infinite;
}

@keyframes beacon-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
